{% extends 'base.html' %}
{% load static %}

{% block content %}


<section id="main">
    <div class="container">
        <article id="main-col" >

        <h1 class="about-title">About Me</h1>
        <div class="create-section about-me-page">
            <p>My name is VIneet Khandelwal. I'm a software developer and learner from India, graduated in Computer Science and Engineering.
                    I'm a passionate software developer, currently working with Python and Django.</p>
                <p>
                    I created this blog to share some of my thoughts and experience about programming.
                    To be honest, I'm no Python/Django expert, but we all have something good to share. 
                    Besides, we learn much more by teaching what we know.
                </p>
          
            <blockquote>
                <h5>We learn new things everyday"</h5>
                <p> I believe that learning never ends
                This idea resulted in creation of this blog. Through this 
                I will share programming knowledge that I have gained in my journey of software development.
            </p>
            <p>
          

            <h5>"Lets Learn Together"</h5>
            <p>
                This platform also gives opportunity to fellow developers, experts, learners and enthusiasts to share their knowledge as well. 
                Because everyone have someting unique and interesting to share. Just 'hit' the contribute button and we will publish your article
                on this blog. Expert in something - Teach others too :)  
            </p>
        </blockquote>
            <p>Python makes programming interesting and easy. If Python would've been a guy, I bet he would be 
                coolest guy you know. Just kidding but Read the “The Zen of Python”, created by Tim Peters,
                which is an easter egg that can be found in Python version 2.1.2 or later by typing import this in a Python interpreter.
            </p>
         
            <blockquote>
                    <h5>The Zen of Python, <small>by Tim Peters</small></h5>
                    <p>
                      Beautiful is better than ugly.<br>
                      Explicit is better than implicit.<br>
                      Simple is better than complex.<br>
                      Complex is better than complicated.<br>
                      Flat is better than nested.<br>
                      Sparse is better than dense.<br>
                      Readability counts.<br>
                      Special cases aren't special enough to break the rules.<br>
                      Although practicality beats purity.<br>
                      Errors should never pass silently.<br>
                      Unless explicitly silenced.<br>
                      In the face of ambiguity, refuse the temptation to guess.<br>
                      There should be one-- and preferably only one --obvious way to do it.<br>
                      Although that way may not be obvious at first unless you're Dutch.<br>
                      Now is better than never.<br>
                      Although never is often better than *right* now.<br>
                      If the implementation is hard to explain, it's a bad idea.<br>
                      If the implementation is easy to explain, it may be a good idea.<br>
                      Namespaces are one honking great idea -- let's do more of those!
                    </p>
                  </blockquote>

                  <p>
                        This tells a lot about the Python philosophy, and why I really enjoy writing code in Python.
                         In fact, this principles can be applied to any programming language. Writing good code, clear, readable, understandable depends more on you than on the programming language you are working with.
                  </p>



              <a href="mailto:vineetkhandelwal29@gmail.com?Subject=Subject" target="_top">Contact Me</a>

         
        </div>
        </article>

        <aside id="sidebar">

            <div class="dark">
            <h3>About Me</h3>
            <div class="author-picture">
               <img class="profile-photo" src="{% static 'images/Profile_photo.jpg' %}"  alt="Vineet Khandelwal" >
            </div>
            <p>
                <b>Vineet Khandelwal</b> is a Computer Science graduate and currently, <b>Python</b> and <b>Django</b> is his main domain. The main motive of this website is to help others and give other enhusiasts platform who also shares the same motive...
                <p><a class="read-more" href="{% url 'blog:about_me' %}">Read More</a>
            </p>
            </div>

            <div class="dark">
            <h2>Contribute</h2>
            <p>Through Contribution you can share your knowledge with other enthusiast around the world and help the community of python and Django grow. Your Contibution will be Acknowledge.So We encourage you to contribute now</p>
            <div>
                <a class="button_1" href="{% url 'blog:contribute' %}">CONTRIBUTE NOW</a>
            </div>
            </div>
        </aside>

    </div>

</section>

{% endblock %}