{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<link rel="stylesheet" href="{% static 'css/style.css' %}">  
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Pangolin" rel="stylesheet">

<!-- Medium like toolbar -->
<script src="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/js/medium-editor.min.js"></script>
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/css/medium-editor.min.css" type="text/css" media="screen" charset="utf-8">

</head>
<body>
<div class="container-outer">
    <div class="container top-column">
        <div class="heading">
         <h1>DIRECTLY PROPORTIONAL<span class="lead">let's Learn</span></h1>  
        </div>
    </div> <!-- container top-column -->

    <!-- Navigation    -->
<div class="container navigation">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="{% url 'blog:home' %}">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <!-- <li class="nav-item ">
              <a class="nav-link" href="{% url 'blog:post_list' %}">Articles<span class="sr-only">(current)</span></a>
            </li> -->
            <li class="nav-item">
              <a class="nav-link" href="{% url 'blog:contribute' %}">Contribute</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'blog:about_me' %}">About</a>
            </li>

            {% if user.is_authenticated %}


            <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Hi, {{user.username}}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="{% url 'blog:create_post'%}">Create Post</a>
                      <a class="dropdown-item" href="{% url 'blog:draft' %}">Drafts</a>
                      <a class="dropdown-item" href="{% url 'blog:contribute_list' %}">Contributions</a>
                      <a class="dropdown-item" href="{% url 'blog:pending_comments' %}">Pending Comments</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="{% url 'logout' %}">logout</a>
                    </div>
                  </li>
            
            {% else %}

                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'login' %}">Login</a>
                        </li>
                        <!-- <li class="nav-item">
                            <a class="nav-link" href="{% url 'blog:signup' %}">Sign Up</a>    
                        </li> -->
            {% endif %}
          </ul>
        </div>
      </nav>
    </div>  <!-- container navigation -->

    <div class="container middle">
        <div class="container">
            <div class="header">
                <p class="lead desciption">Learn and Help other Learn................. <span class="small">prepare yourself for the journey</span></p>
             </div> <!--header -->
        </div> <!-- container -->

<div class="col-sm-12 main-lower">
            <div class="row">
            <div class="col-sm-8 main">
            
              {% block content %}

              {% endblock %}
                          

            </div>          
    
            <div class="col-sm-4">
                <div class="sidebar">
                    <div class="sidebar-content">
                            <h2>About Me</h2>
                            <!-- <div class="fakeimg">Fake Image</div> -->
                            <img class="profile-photo" src="{% static 'images/profile_2.jpg' %}"  alt="Profile photo" >
              
                            <p><b>Vineet Khandelwal</b> is a Computer Science graduate and currently, <b>Python</b> and <b>Django</b> is his main domain. The main motive of this website is to help others and give other enhusiasts platform who also shares the same motive...<a href="{% url 'blog:about_me' %}">Read More</a></p>
                    </div>

                    <div class="sidebar-content">
                      <h2>Contribute</h2>
                      <p>Through Contribution you can share your knowledge with other enthusiast around the world and help the community of python and Django grow. Your Contibution will be Acknowledge.So We encourage you to contribute now</p>
                      <div class="sidebar-anchor">
                        <a class="btn btn-primary" href="{% url 'blog:contribute' %}">CONTRIBUTE NOW</a>
                      </div>
                    </div>
                
                <!-- <div class="sidebar-content">

                        <h2>Some Links</h2>
                        <p>Lorem ipsum dolor sit ame.</p>
                        <ul class="list-unstyled">
                          <li class="active"><a href="#">Link 1</a></li>
                          <li><a href="#">Link 2</a></li>
                          <li><a href="#">Link 3</a></li>
                        </ul>
                        <hr class="hidden-sm hidden-md hidden-lg">
    
                </div> -->
              </div>  <!-- sidebar -->
            </div>  <!-- col-sm-4 -->
            
           
      
        </div> <!-- row --> 
        </div> <!--col-sm-12 -->


</div>  <!-- container middle -->
  

</div> <!-- container-outer -->

<footer class="footer">
    <p>&copy; Copyright(2019). All right reserved</p>
    <p><a href="#"><span class="go-top">Go Top</span></a></p>
</footer>



    
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>


        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body> 
</html>