{% extends 'base.html'%}
{% load staticfiles %}

{% block content %}

<section id="showcase">
  <div class="container">
      <div class="logo">
        <a href="/">Directly <span class="highlight">Proportional</span></a>  
       </div>
       <p>"Python is the most powerful language you can still read" - <span>Paul Dubois</span> </p>
  </div>
</section>

<section id="latest-articles">
    
  <div class="container">
      <div class="all-latest">

          <h2>The latest</h2>
          <p> Up-to-date articles about Python, Django and Web Development.</p>
          <a class="" href="{% url 'blog:post_list'%}">See all latest</a>
        
      </div>
     
     
        {% if latest_post %}
          {% for post in latest_post %}
          <div class="article-box">
            <img class="image" src="{{post.image.url}}" alt="article-pic" width="90%" height="200">
            <h3>{{post.title}}</h3>
            <p>{{post.content|striptags|truncatechars:150| safe}}</p>
          </div>       
        
          {% endfor %}
        {% endif %}

  </div>
  
</section>


<section id='contribute-section'>
  
    <h2>Get <span>Involved</span></h2>
    <p>By contributing to the community, working with others. So that we will learn together.</p>
    <a href="{% url 'blog:contribute' %}">Contribute Now</a>

</section>


<div id="about-me-section">
<section class="card container_1 create-section ">
               
        <div class=" post-author">
                <div class="author-picture">
                        <img class="profile-photo" src="{% static 'images/Profile_photo.jpg' %}"  alt="Vineet Khandelwal" >

                </div>
                <div class="author-info">
                        <p class="name">By <strong>Vineet Khandelwal</strong></p>
                        <p class="bio">
                        I'm a passionate software developer and technology enthusiast from India. I write about
                        Python, Django and Web Development. <a href="{% url 'blog:about_me' %}"">Read more</a>.
                        </p>
                       
                </div>
        
        </div>
</section>

</div>


{% endblock %}