{% extends 'base.html'%}
{% block content %}


<h2>{{object.title }}</h2> 
<p>-by {{object.contribute}}</p>

<p>{{object.content }}</p>

{% if user.is_authenticated %}
        <p>
                <a href="{% url 'blog:delete_post' pk=object.pk %}">Delete</a>
                <a href="{% url 'blog:update_post' pk=object.pk %}">Update</a>
        </p>
{% endif %}

<form action="{% url 'blog:create_comment' pk=object.pk %}" method="POST">
        {% csrf_token %}
        <label for="author">Username:</label><input type="text" name='author'>
        <label for="comment_text">Comment:</label><input type="text" name='comment_text'>
        <button type="submit">Comment</button>
</form>      

<h2>Commments:</h2>

{% if all_comments %}

        {% for comment in all_comments %}
                {% if comment.post_name.id == object.id %}
                       
                        {% if comment.status == False %}
                                {% if user.is_authenticated %}
                                        <P><strong>Author:</strong>{{comment.author}} <br>
                                        <strong>Comment:</strong>{{comment.comment_text}}
                                        <a href="{% url 'blog:approve_comment' pk=comment.pk %}">Approve</a>
                                        <a href="{% url 'blog:delete_comment' pk=comment.pk %}">Delete</a>
                                        </P>                
                                {% endif %}

                        {% else %}
                                <ol>
                                <li>
                                <strong>Author:</strong>{{comment.author}} <br>
                                <strong>Comment:</strong>{{comment.comment_text}}
                                </li>
                        
                                {% if user.is_authenticated %}
                                        <a href="{% url 'blog:delete_comment' pk=comment.pk %}">Delete</a>
                                {% endif %}
                                </ol>            
                        {% endif %}
                {% endif %}
        {% endfor %}
{% else %}

<p>No Comments</p>

{% endif %}


{% endblock %}