{% extends 'base.html'%}

{% block content %}

{% if post_list %}

    {% for post in post_list %}
        {% if post.published_date %}
            <p>
                    <div class="Post">
                        <h2><a href="{% url 'blog:post_detail' pk=post.pk %}"> {{post.title}} </a> </h2>
                        
                        <h4>{{post.published_date|date:"d M,Y"}}</h4>
                    </div>
                    

            </p>
        {% endif %}
    {% endfor %}

{% else %}

<p>No Posts</p>

{% endif %}

<h1> You are in post_list.html</h1>



{% endblock %}