{% extends 'base.html'%}
{% block content %}


<p>
        {{object.title }}
</p>

<p>
        {{object.content }}
</p>
<p>
        <a href="{% url 'blog:delete_post' pk=object.pk %}">Delete</a>
        <a href="{% url 'blog:update_post' pk=object.pk %}">Update</a>
</p>

<form action="{% url 'blog:create_comment' pk=object.pk %}" method="POST">
                {% csrf_token %}
                <label for="author">Your Name:</label><input type="text" name='author'>
                <label for="comment_text">Comment:</label><input type="text" name='comment_text'>
                <button type="submit">Comment</button>
</form>      
<h2>Commments:</h2>
{% if all_comments %}

        {% for comment in all_comments %}
                {% if comment.post_name.id == object.id %}
<ol>
        <li>
        <strong>Author:</strong>{{comment.author}} <br>
        <strong>Comment:</strong>{{comment.comment_text}}
        {{comment.id}}
        {{comment.pk}}
        <a href="{% url 'blog:delete_comment' pk=comment.pk %}">Delete</a>
        </li> 
</ol>                                    
                     
                {% endif %}
        {% endfor %}
{% else %}
<p>No Comments</p>

{% endif %}


{% endblock %}