body{
    font: 15px/1.5 Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    background-color: #f4f4f4;
}

/* Global */
.container{
    width: 85%;
    margin: auto;
    overflow: hidden;
}

.container_1{
    width: 70%;
    margin: auto;
    overflow: hidden;
}

nav ul{
    margin: 0;
    padding: 0;
}

/* Button for anchor/link tags  */
.button_1{
    text-decoration: none;
    height: 28px;
    background: #e8491d;
    border: 0;
    padding: 10px 10px 10px 10px;
    color: #ffffff;
}

/* Button for button tag */
.button_2{

    background: #e8491d;
    padding: 10px 10px 10px 10px;
    color: #ffffff;    
}

.dark {
    color: #ffffff;
    background: #35424a;
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 10px;

}

.create-section{
    background: #ffffff;
    padding: 20px 20px 20px 20px;
    margin-top: 15px;

}

/* Anchors */



/* Header */
header{
    background: #202020	;
    color: #ffffff;
    padding-top: 20px;
    min-height: 40px;
    border-bottom: #e8491d 3px solid;
}

header a{
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
   
}

header li{
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}

header .logo{
    float: left;
}
header .logo h1{
    margin: 0;
    
}

header nav{
    float: right;
    /* margin-top: 10px; */
}

header .highlight, header .current a{
    color: #e8491d;
    font-weight: bold;
}

nav a:hover{
    /* color: #e8491d; */
}

header nav li:hover{

    border: #e8491d solid 1px;
}

/* Home */

    /* Showcase */

#showcase{
    min-height: 450px;
    background:url('../images/show_1.jpg') no-repeat 0 -200px;
    background-size: cover;
    text-align: center;
   
}

#showcase a{
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 40px;
}

#showcase a span{
    color: #e8491d;
}

#showcase .logo{
    margin-top: 100px;
    margin-bottom: 10px;
}

#showcase p{
    font-size: 25px;
    color:#f4f4f4;
    
}
#showcase p span{
    color: #cccccc;
}

#newsletter{
    padding: 15px;
    color: #ffffff;
    background: #35424a
}

#newsletter h1{
    float: left;
}

#newsletter form{
    float: right;
    margin: 15px;
}

#newsletter input[type="email"]{
    padding: 4px;
    height: 25px;
    width: 250px;
}

/* Home */

#latest-articles{
    background: #e8491d;
    min-height: 800px;
    margin-top: 0px;
}

#latest-articles .container{
    padding-bottom: 10px;
}

#latest-articles .all-latest{
    padding-top: 20px;
    padding-bottom: 40px;
}

#latest-articles .all-latest h2{
    color: #ffffff;
    font-size: 40px;
    font-weight: normal;
    margin-bottom: 5px;
}

#latest-articles .all-latest p{
    color: #f4f4f4;
    font-size: 20px;
    margin-bottom: 40px;
}

#latest-articles .all-latest a{

    text-decoration: none;
    color: #ffffff;
    padding: 20px 20px 20px 20px;
    border:#ffffff solid 2px;
    font-size: 20px;
    margin-bottom: 50px;
}

#latest-articles .all-latest a:hover{
    
    color: #e8491d;
    background: #ffffff;
    font-weight: bold;
}

/* Home latest article boxes */

#latest-articles .article-box{
    display: block;
    float: left;
    text-align: left;
    width: 30%;
    padding: 10px;
    margin-right: 10px;
    background: #ffffff;
}

#latest-artciles .article-box h3{
    text-decoration: none;
    color: #C8C8C8;
    font-size: 40px;
}


#latest-artciles .article-box h3:hover{
    text-decoration: underline;
}

#latest-articles .all-latest {
    text-align: center;
}

#contribute-section {
    min-height: 400px;
    background:url('../images/black-and-white-black-and-white-dark-1563332.jpg') no-repeat 0 -200px;
    background-size: cover;

    text-align: center;
    padding-top: 40px; 
    padding-bottom: 40px;
    margin-bottom: 20px;
   
}

#contribute-section h2 {
    font-size: 60px;
    font-weight: normal;
    color: #C8C8C8;
}

#contribute-section h2 span{
    font-size: 60px;
    font-weight: normal;
    color: #e8491d;
}

#contribute-section p{
    font-size: 25px;
    color: #cccccc;
    margin-bottom: 50px;
}

#contribute-section a{

    text-decoration: none;
    color: #f4f4f4;
    padding: 20px 20px 20px 20px;
    border:#e8491d solid 4px;
    font-size: 20px;
    font-weight: bold;


}

#contribute-section a:hover{
    background: #e8491d;
    color: #ffffff;
    font-weight: bold;
}

#about-me-section .card{
    box-shadow: 0 6px 8px 0 rgba(0,0,0,0.2);
}



/* Sidebar */

aside#sidebar{
    float: right;
    width: 30%;
    margin-top: 10px;
}

aside#sidebar div.author-picture img{
    height: 250px;
    width: 70%;
}

/* main-col */

article#main-col{
    float: left;
    width: 65%;
    padding-bottom: 20px;
    /* margin-bottom: 20px; */

    
}


/* Post list */

div.post-list p.title a {
    text-decoration: none;
    color:#404040;
    font-size: 35px;
}

div.post-list p.content{
    font-size: 18px;
}

div.post-list a.read-more{
    font-size: 20px;
    color: #e8491d; 
}


div.post-content-centre{
    text-align: center;
}

aside#sidebar .read-more{
    color: white;
    background: #e8491d;
    padding: 2px 5px 5px 5px;
    text-decoration: none;
}



/* Post detail */

article.article-body{
    background: #ffffff;
    padding: 15px 15px 15px 15px;
    margin-top: 15px;
}

article.article-body p.title{
    font-size: 50px;
    color:#404040;    
}

article .author{
    font-size: 20px;
    color: #35424a;
}

article.article-body div.text p, div.about-me-page p{
    font-size: 20px;
    color: #484848;
}

article.article-body img{
    height: 500px;
    width: 100%


}

article textarea{
    width: 80%;
    height: 50px;
}

article.article-body li, .unstyled-list li {
    list-style-type: none; 
}


article.article-body h5{
    font-size: 10px;
    color: #35424a;
}

article.article-body h4{
    font-size: 14px;
    
}

    /* card post-author */

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 20px 20px 20px 20px;
  }

section.card img{
    border-radius: 50%;
    width: 120%;
    height: 120px;
}

section.card .author-picture{
    float: left;
    width: 10%;
    /* padding-right: 20px; */
}

section.card .author-info{
    float: right;
    width: 85%;
    font-size: 16px;
}

p.bio{
    color: #888888;
}

.social{
    /* display: inline-block; */
    float: left;    
}

/* Contribute Form */


section.create-section .input-text{
    padding: 4px;
    height: 20px;
    width: 90%;
}

section.create-section .input-textarea{
    /* padding: 4px; */
    height: 500px;
    width: 90%;
}

ul.messages li{
    list-style-type: none; 
}

/* About me */


blockquote {
    display: block;
    border-left: #C8C8C8 solid 10px; 
    padding-left: 20px;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 20px;
    margin-right: 40px;
  }

blockquote h5{
      font-size: 20px;
}

.about-me-page a {
    text-decoration: none;
    height: 35px;
    background: #ffffff;
    border: #e8491d solid 2px;
    padding: 10px 10px 10px 10px;
    color: #e8491d;
    font-size: 20px;
}
.about-me-page a:hover{
    background: #e8491d;
    color: #ffffff;

}



footer{
    padding: 20px;
    margin-top: 20px;
    color: #ffffff;
    background-color: #e8491d;
    text-align: center;
}


/* media queries */

@media(max-width: 768px){
    header .logo,
    header nav,
    header nav li,
    article#main-col, 
    aside#sidebar,
    #latest-articles .article-box{
        float: none;
        text-align: center;
        width: 100%;
    }

    /* Sidebar */

    aside#sidebar{
        text-align: left;
    }
    aside#sidebar div.author-picture img{
        height: 170px;
        width: 40%;
    }
    


    .container_1, 
    .container{
        width: 90%;

    }

    div.post-list p.title,
    div.post-list p.content,
    div.post-list p.post-meta,
    .about-me-page{
        
        text-align: left;
    }

    div.post-list p.title a,
    article.article-body p.title{
        font-size:25px;
    }


     /* header */

    header .logo{
        margin-bottom: 10px;
    }

    header nav{
        margin-bottom: 10px;
    }

    header .logo a{
        font-size: 20px;
    }

    nav a{
        font-size: 10px;
    }
    nav li{
        padding: 0 10px 0 10px;
    }

    /* Post Detail */
    
    section.card .author-picture{
        width: 20%;     
    }

    section.card .author-info{      
        width: 70%;
        font-size: 14px;
    }


    article.article-body img{
        height: 250px;
    }

    article.article-body p.author{
        font-size: 15px;
    }

    /* About_me */
    blockquote {
       
        border-left: #C8C8C8 solid 5px; 
        padding-left: 10px;
        margin-left: 5px;
        margin-right: 5px;
        text-align: left;
      }

    /* Home */

    #showcase,
    #contribute-section{
        min-height: auto;
        background-position-y: 45%;
        background-size: inherit;       
    }

    #latest-articles{
        min-height: 1500px;
    }
    
    #latest-articels .container{
        padding-right: 10px;
    }
    
    #latest-articles .article-box{
        text-align: left;     
        margin-bottom: 20px;
    }
  

}